---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-white: #FFFFFD;
$grey-lighter: #BCC1C5;
$grey-light: #95A5A5;
$grey: #666666;
$grey-darker: #4A4A4A;
$green: #58B8A8;
$orange: #F89869;
$red: #EC695A;
$blue: #4C677F;
$stone: #344A5F;
$stone-dark: #2B3F51;
$stone-light: #A7B8C8;
$purple: #9967A8;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
