---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-white: #FFFFFD;
$grey-lighter: #BCC1C5;
$grey-light: #95A5A5;
$grey: #808C8C;
$grey-darker: #4A4A4A;
$green: #58B8A8;
$orange: #F89869;
$red: #D95F51;
$blue: #94D0DB;
$stone: #344A5F;
$stone-dark: #2B3F51;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
