---
layout: default
---
<div id="main-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/img/welcome.png" class="img-responsive" alt="Cabildeas">
        <h2>Ideas desde la sociedad civil para la nueva Constitución</h2>
        <p class="bajada">Haz click en cada organización para conocer sus opiniones respecto a las temáticas a tocar en los encuentros locales y en la consulta individual. Si quieres conocer cómo participar de estos y otros espacios, recuerda informarte en <a href="//www.unaconstitucionparachile.cl" onClick="ga('send', 'event', 'link-main-header', 'click');">www.unaconstitucionparachile.cl</a></p>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <ul class="list-unstyled text-center">
      <li ng-repeat="org in orgs" ng-click="getOrgInfo(org)"><button class="btn btn-default">[[org.name]]</button></li>
    </ul>
  </div>
</section>

<section style="background-color: [[bgColor]]">
  <div class="container">
    <div id="petitions" class="row">
    <div class="col-md-12 text-center">
      <img src="[[orgLogo]]" class="logo">
    </div>
      <div class="col-sm-6 col-md-3" ng-repeat="p in orgInfo">
        <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
              <h3>[[p.question]]</h3>
            </div>
            <div class="panel-body">
              <div ng-repeat="q in p.petitions">
                <h4>[[q.petition_q]]</h4>
                <p>[[q.petition_a]]</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <div class="patronancho">
  </div>
</div>