<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 text-center">

            Una iniciativa de

            <a href="//populusaurio.cl" role="button" target="_blank" onClick="ga('send', 'event', 'footer-logo-popu', 'click');"><img src="/img/footer-popu.png" class="img-responsive"></a>

        </div>
        <div class="col-sm-6 col-md-6 text-center">

            Desarrollada por

            <a href="//ciudadanointeligente.org" role="button" target="_blank" onClick="ga('send', 'event', 'footer-logo-fci', 'click');"><img src="/img/footer-fci.png" class="img-responsive"></a>

      </div>
    </div>
  </div>
</footer>