<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 text-center">
        <div class="col-md-6">
        Una iniciativa de
          <a href="http://populusaurio.cl" role="button" target="_blank"><img src="/img/footer-popu.png"></a>
        </div>
        <div class="col-md-6">
        Desarrollada por
          <a href="http://ciudadanointeligente.org" role="button" target="_blank"><img src="/img/footer-fci.png"></a>
        </div>
      </div>
    </div>
  </div>
</footer>