<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 text-center">
          Una iniciativa de
          <a href="//populusaurio.cl" role="button" target="_blank" onClick="ga('send', 'event', 'footer-logo-popu', 'click');"><img src="/img/logo-popu.svg" class="img-responsive"></a>
          <ul class="list-inline">
            <li><a href="mailto:contacto@populusaurio.cl?Subject=Hola" target="_blank" onClick="ga('send', 'event', 'footer-email-popu', 'click');"><i class="fa fa-envelope" aria-hidden="true"></i> Correo</a></li>
            <li><a href="https://twitter.com/Populusaurio" target="_blank" onClick="ga('send', 'event', 'footer-twitter-popu', 'click');"><i class="fa fa-twitter" aria-hidden="true"></i> @Populusaurio</a></li>
            <li><a href="https://www.facebook.com/populusaurio" target="_blank" onClick="ga('send', 'event', 'footer-fb-popu', 'click');"><i class="fa fa-facebook" aria-hidden="true"></i> Populusaurio</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6 text-center">
          Desarrollada por
          <a href="//ciudadanointeligente.org" role="button" target="_blank" onClick="ga('send', 'event', 'footer-logo-fci', 'click');"><img src="/img/logo-fci.svg" class="img-responsive"></a>
          <ul class="list-inline">
            <li><a href="mailto:prensa@ciudadanointeligente.org?Subject=Hola" target="_blank" onClick="ga('send', 'event', 'footer-email-fci', 'click');"><i class="fa fa-envelope" aria-hidden="true"></i> Correo</a></li>
            <li><a href="https://twitter.com/ciudadanoi" target="_blank" onClick="ga('send', 'event', 'footer-twitter-fci', 'click');"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
            <li><a href="https://www.facebook.com/ciudadanointeligente" target="_blank" onClick="ga('send', 'event', 'footer-fb-fci', 'click');"><i class="fa fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>