<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="brand">
          <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo.png"></a>
          <div class="sub-brand"><a href="//populusaurio.cl" target="_blank">de Populusario</a>
          </div>
        </div>
        <div class="brand right">
          <div class="sub-brand">
            Desarrollado por
            <a href="//ciudadanointeligente.org"><img src="img/logo-fci-nav.png"></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<div>
  <div class="patron">
  </div>
</div>


<div id="main-header">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <img src="/img/welcome.png" class="img-responsive" alt="Cabildeas">
        <h2>Ideas desde la Sociedad Civil para el proceso constituyente</h2>
        <p class="bajada">Haz click en cada organización para conocer sus opiniones respecto a las temáticas a tocar en los encuentros locales y en la consulta individual. Si quieres conocer cómo participar de estos y otros espacios de participación, recuerda informarte en <a href="//www.unaconstitucionparachile.cl">www.unaconstitucionparachile.cl</a></p>
      </div>

    </div>
  </div>
</div>