/*GENERAL*/
body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey;
  background-color: $grey-white;
}

/*HEADER*/
header > .navbar-default {
  height: 85px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  background-color: $stone-dark;
  border: none;
  border-radius: 0;
  margin-bottom: initial;
  .navbar-brand, .navbar-brand:hover {
    color: #FFF;
  }
  .navbar-nav > li.active > a, .navbar-nav > li.active > a:hover {
    color: #FFF;
    background-color: #2C2C6F;
  }
  .navbar-nav > li > a, .navbar-nav > li > a:hover {
    color: #FFF;
  }
  .navbar-right{
    margin-top: 15px;
  }
  .navbar-toggle{
    margin-top: -60px;
  }
}

.brand{
  margin-top: 15px;
  padding-bottom: 10px;
}

.sub-brand{
  margin-top: 5px;
  padding-left: 45px;
  a{
    color: $grey-white;
  }
  a:hover{
    color: $grey-white;
    text-decoration: none;
  }
}

.fa-stack{
  margin-top: -9px;
  color: $blue;
}

#main-header {
  background-color: $grey-white;
  background: url('/personas.png') 50%/auto no-repeat;
  min-height: 400px;
  img {
    margin: 0 auto;
  }
}

.patron{
  background-image: url('/img/color-nav.png');
  height: 8px;
}

/*WELCOME*/
#main-header{
  text-align: center;
  padding: 210px 0 90px 0;
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    color: $grey-darker;
    font-weight: 700;
  }
  p.bajada{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  a{
    color: $orange;
  }
  a:hover{
    color: $blue;
    text-decoration: none;
  }
  .img-responsive{
    display: initial;
  }

}

.container.text-center{
  padding: 120px 0 90px 0;
}

li > button.btn.btn-default{
  background-color: $stone;
  color: #FFF;
  border: none;
  margin-top: 10px;
}

li > button.btn.btn-default:hover{
  background-color: $green;
  color: #FFF;
  border: none;
  margin-top: 10px;
}

/*PETITIONS*/
img.logo{
  margin-bottom: 20px;
}

#petitions {
  min-height: 500px;
  padding-top: 60px;
  .panel{
    border-radius: 5px;
    box-shadow: none;
    border: none;
  }
  .panel-default > .panel-heading {
    border-bottom: none;
    background-color: $stone-dark;
    color: #FFF;
    border: none;
    h3 {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .panel-body {
    background-color: #FFF;
    p {
      font-family: 'Lato', sans-serif;
    }

    h4 {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 5px;
      font-weight: 700;
    }
  }
}

/*QUIENES-SOMOS*/
#quienes{
  margin: 110px 0 40px 0;
  min-height: 600px;
  h2{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 700;
  }
  p{
    font-family: 'Lato', sans-serif;
    color: $grey-darker;
    font-size: 15px;
  }
}



/*FOOTER*/
.patronancho{
  background-image: url('/img/color-footer.png');
  height: 16px;
}

footer {
  font-family: 'Raleway', sans-serif;
  padding-top: 40px;
  color: #FFF;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: $stone;
  a, a:hover {
    color: #FFF;
    img {
      padding: 20px;
      margin: 0 auto;
    }
  }

}

@media (max-width: 767px) {
  footer{
    height: 350px;
  }

  header > .navbar-default .navbar-nav > li > a, header > .navbar-default .navbar-nav > li > a:hover{
    background-color: $stone-dark;
    margin: -12px 0 -8px 0;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
  }

}
